*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 22px;
    font-family: 'Segoe UI', 'Segoi UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    
}

header {
    background: linear-gradient(135deg, #667eea 0%,);
}